body{
    background-color: #232323;
    color: white;
    padding-top: 50px;
}

.nav{
    background-color: #232323;
    
    a{
        font-size: 1.25em;
        color: white;
    }
}

#intro{
    height: 100vh;
}

#intro h1{
    padding-left: 30px;
    vertical-align: middle;
}


.container{
    text-align: center;
}
#pillar-section{
    height: 60vh;
    padding: 20px 0;
}

#words{
    padding: 0 10px;
}