body{
    background-color: #232323;
    color: white;
    padding-top: 70px;
}

.nav{
    color: white;
    font-size: 1.15em;

}

#mission{
    color: darkgray;
}
#share-link{
    color: #9F064F;
}

#collab-link{
    color: #6A4CB4;
}

#converse-link{
    color: #f2d64b;
}

#join-link{
    color: #69bf8e;
}

#intro{
    height: 100vh;
}

#intro{
    
    h1{
    height: 100%;
    padding: 30px auto 0 auto;
    }
}

.pillar-section{
    height: 100vh;
    padding: 70px 0;
    
}

   i{
       width: 100%;
        padding: 30px;
        text-align: center;
    }

#words{
    padding: 0 20%;
}

#join{
    
    height: 60vh;
}

#join-btn{
    button{
        margin: 0;
    }
}
